{% extends "index.html" %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-3xl font-semibold mb-4">Search Product by Categories and More Filters</h1>

    <!-- Search Form with Filters -->
    <form method="get" class="mb-4">
        <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2">
            {{ form.as_p }}
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-md">
                Search
            </button>
        </div>
    </form>

    <!-- Display Search Results -->
    <h2 class="text-2xl font-semibold mb-2">Search Results</h2>
    <ul id="searchResults" class="space-y-4">
        {% if data.items %}
        {% for item in data.items %}
        <li class="border rounded-lg overflow-hidden shadow-md hover:shadow-xl transition duration-300">
            <div class="flex flex-col md:flex-row md:items-center space-y-2 md:space-y-0 md:space-x-4 p-4">
                <div class="md:w-1/4">
                    <img src="{{ item.volumeInfo.imageLinks.thumbnail }}" alt="Book Cover" class="w-full h-auto">
                </div>
                <div class="md:w-3/4">
                    <h3 class="text-xl font-semibold">{{ item.volumeInfo.title }}</h3>
                    <p class="text-gray-600">Authors: {{ item.volumeInfo.authors|join:", " }}</p>
                    <p class="text-gray-600">Category: {{ item.volumeInfo.categories|join:", " }}</p>
                    <p class="text-gray-600">Published Year: {{ item.volumeInfo.publishedDate }}</p>
                    <p class="text-gray-600 line-clamp-4">Description: {{ item.volumeInfo.description|default:"Not available" }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <li class="text-gray-600">No results found.</li>
        {% endif %}
    </ul>
</div>

<script>
    // JavaScript for toggling the description on "Read More" button click
    function toggleDescription(button) {
        const description = button.parentElement.querySelector('.hidden');
        if (description) {
            description.classList.toggle('hidden');
            button.textContent = description.classList.contains('hidden') ? 'Read More' : 'Read Less';
        }
    }

    // Add event listeners to all "Read More" buttons
    const readMoreButtons = document.querySelectorAll('.toggle-description');
    readMoreButtons.forEach((button) => {
        button.addEventListener('click', () => {
            toggleDescription(button);
        });
    });
</script>

{% endblock %}
