<!DOCTYPE html>
<html lang="en" class="scroll-smooth  focus:scroll-auto">

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>ALM Library</title>
    {% endblock %}
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Common styles for both light and dark modes */
        body {
            transition: background-color 0.3s, color 0.3s;
        }

        /* Light mode styles */
        body.light-mode {
            background-color: #fff;
            color: #333;
        }

        /* Dark mode styles */
        body.dark-mode {
            background-color: #333;
            color: #fff;
        }

        /* Add dark mode styles for specific elements */
        .dark-mode .bg-white {
            background-color: #222;
        }

        .dark-mode .text-gray-700 {
            color: #fff;
        }

        .dark-mode .hover:bg-gray-200:hover {
            background-color: #444;
        }

        .sidebar {
            position: fixed;
            top: 0.5%;
            left: 1%;
            bottom: 0;
            width: 16%;
            /* Adjust this width as needed */
            /* background-color: #fff; */
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
            z-index: 1;
            overflow-y: auto;
            /* Enable scrolling if content exceeds sidebar height */
            scroll-behavior: smooth;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .btn-9 {
            border: none;
            transition: all 0.3s ease;
            overflow: hidden;
        }

        .btn-9:after {
            position: absolute;
            content: " ";
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #1fd1f9;
            background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
            transition: all 0.3s ease;
        }

        .btn-9:hover {
            background: transparent;
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
                inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
            color: #c41e1e;
        }

        .btn-9:hover:after {
            -webkit-transform: scale(2) rotate(180deg);
            transform: scale(2) rotate(180deg);
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
                inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
        }

        .custom-btn {
            width: 130px;
            height: 40px;
            color: #201b1b;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
                7px 7px 20px 0px rgba(0, 0, 0, .1),
                4px 4px 5px 0px rgba(0, 0, 0, .1);
            outline: none;
        }

        button {
            margin: 20px;
        }

        .clamp-3 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .to-cyan-400 {
            --tw-gradient-to: #22d3ee;
        }

        .via-cyan-500 {
            --tw-gradient-stops: var(--tw-gradient-from), #06b6d4, var(--tw-gradient-to, rgba(6, 182, 212, 0));
        }

        #toast-success {
            position: fixed;
            z-index: 999;
            left: 20%;
            /* Adjust the z-index to ensure it appears above other elements */
        }
    </style>

</head>

<body class="light-mode">
    <div
        class="flex flex-wrap bg-gray-100 w-full h-screen subpixel-antialiased dark-mode:bg-dark-bg dark-mode:text-dark-text">
        <button id="darkModeToggle" onclick="toggleDarkMode()"
            class="absolute right-4 top-4 bg-gray-200 p-2 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 10H3a10 10 0 0010 10h2a2 2 0 002-2v-2a2 2 0 00-2-2h-2a10 10 0 00-10-10zm0 0H3a10 10 0 0010 10h2a2 2 0 002-2v-2a2 2 0 00-2-2h-2a10 10 0 00-10-10z" />
            </svg>
        </button>
        <div class="w-2/12 bg-white rounded p-3 shadow-lg bg-blend-soft-light rounded-r-lg ">
            <div class="sidebar">
                <div class="flex items-center space-x-4 p-2 mb-5 backdrop-blur-sm">
                    <img class="h-12 rounded-full"
                        src="https://intentplanning.ca/wp-content/uploads/2019/01/sample-person.jpg"
                        alt="{{ user.username }}">
                    <div>
                        <h4 class="font-semibold text-lg text-gray-700 capitalize font-poppins tracking-wide">
                            {{ user.username }}
                        </h4>
                        <span class="text-sm tracking-wide flex items-center space-x-1">
                            <svg class="h-4 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                            </svg><span class="text-gray-600">Verified</span>
                        </span>
                    </div>
                </div>

                <ul class="space-y-2 text-sm ">
                    <li>
                        <a href="{% url 'index' %}"
                            class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200  focus:shadow-outline">
                            <span class="text-gray-600">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                            </span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'cart' %}"
                            class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200  focus:shadow-outline">
                            <span class="text-gray-600">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                            </span>
                            <span>Cart</span>
                        </a>
                    </li>


                    {% if request.user.is_superuser %}
                    <li>
                        <a href="{% url 'user_details' %}"
                            class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200  focus:shadow-outline">
                            <span class="text-gray-600">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                            </span>
                            <span>Users Detail</span>
                        </a>
                    </li>
                    <li class="relative">
                        <a href="#" onclick="toggleSubMenu('stockSubMenu')"
                            class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-700 focus:shadow-outline">
                            <span class="text-gray-600">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                            </span>
                            <span>Stock Management</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor"
                                class="h-4 absolute right-2 top-2 text-gray-500 transform transition-transform duration-300"
                                id="stockSubMenuArrow">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </a>
                        <ul class="hidden py-2 space-y-2" id="stockSubMenu">
                            <!-- Add your dropdown menu items here -->
                            <li>
                                <a href="{% url 'add_book' %}"
                                    class="flex items-center w-full p-2 text-base font-normal text-gray-700 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-500 pl-11">Add
                                    Book</a>
                            </li>
                            <li>
                                <a href="{% url 'books_list' %}"
                                    class="flex items-center w-full p-2 text-base font-normal text-gray-700 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 pl-11">Books</a>
                            </li>
                            <li>
                                <a href="{% url 'dealers_list' %}"
                                    class="flex items-center w-full p-2 text-base font-normal text-gray-700 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 pl-11">Dealsers</a>
                            </li>
                            <li>
                                <a href="{% url 'create_dealer' %}"
                                    class="flex items-center w-full p-2 text-base font-normal text-gray-700 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 pl-11">Register
                                    Dealer</a>
                            </li>
                            <li>
                                <a href="{% url 'purchase_list' %}"
                                    class="flex items-center w-full p-2 text-base font-normal text-gray-700 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 pl-11">purchase
                                    list</a>
                            </li>
                            <!-- Add more submenu items as needed -->
                        </ul>
                    </li>

                    {% endif %}
                    <li>
                        <a href="{% url 'getdata' %}"
                            class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200  focus:shadow-outline">
                            <span class="text-gray-600">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                            </span>
                            <span>All Books Data</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'book_search' %}"
                            class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:shadow-outline">
                            <span class="text-gray-600">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                            </span>
                            <span>Search by Filters</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}"
                            class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200  focus:shadow-outline">
                            <span class="text-gray-600">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                            </span>
                            <span>Register</span>
                        </a>
                    </li>


                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}"
                            class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200  focus:shadow-outline">
                            <span class="text-gray-600">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                            </span>
                            <span>Logout</span>
                        </a>
                    </li>

                    {% else %}
                    <li>
                        <a href="{% url 'login' %}"
                            class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200  focus:shadow-outline">
                            <span class="text-gray-600">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                </svg>
                            </span>
                            <span>Login</span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'wishlist' %}"
                            class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                            <span class=" text-gray-600">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                </svg>
                            </span>
                            <span>My wishlist</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                            <span class="text-gray-600">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4">
                                    </path>
                                </svg>
                            </span>
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="w-10/12 bg-white rounded p-3 shadow-lg bg-blend-soft-light rounded-r-lg">
            {% block content %}


            <div class="bg-white p-4 ">
                {% if messages %}
                <div class="mt-4">
                    {% for message in messages %}
                    <div class="w-full px-4 py-3 text-sm border rounded border-emerald-100 bg-emerald-50 text-emerald-500"
                        role="alert">
                        <span class="mb-2 font-semibold">{{ message }}</span>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="text-xl  items-top ">
                {% if request.user.is_superuser %}
                <ul>

                    <li class="mb-2">
                        <a href="{% url 'review_requests' %}"
                            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full inline-block">
                            Review Requests
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'review_approved_requests' %}"
                            class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-full inline-block">
                            Approved Requests
                        </a>
                    </li>

                    {% endif %}
                    {% if request.user.is_authenticated %}


                    <li class="mt-2">
                        <a href="{% url 'bills_list' %}"
                            class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-full inline-block">
                            Bill List
                        </a>
                    </li>
                </ul>
                {% endif %}


            </div>
            <div>

                <h2 class="text-2xl font-semibold mb-4 p-2">Most Popular Books</h2>

                <div class="flex justify-center">

                    <!-- Using windui -->
                    <!-- Component: Card Carousel -->
                    <div class="relative w-4/5 overflow-hidden bg-white rounded shadow-xl shadow-slate-200 glide-06">
                        <!-- Slides -->
                        <div class="overflow-hidden" data-glide-el="track">
                            <ul
                                class="relative w-full overflow-hidden p-0 whitespace-no-wrap flex flex-no-wrap [backface-visibility: hidden] [transform-style: preserve-3d] [touch-action: pan-Y] [will-change: transform] ">
                                {% for book in popular_books %}
                                <li class="flex justify-center items-center shadow-lg"><img src="{{ book.cover_image }}"
                                        class="w-70 h-64 object-cover " /></li>

                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Controls -->
                        <div class="absolute left-0 flex items-center justify-between w-full h-0 px-4 top-1/2 "
                            data-glide-el="controls">
                            <button
                                class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 border-slate-700 hover:text-slate-900 hover:border-slate-900 focus-visible:outline-none bg-white/20"
                                data-glide-dir="<" aria-label="prev slide">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <title>prev slide</title>
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                                </svg>
                            </button>
                            <button
                                class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 border-slate-700 hover:text-slate-900 hover:border-slate-900 focus-visible:outline-none bg-white/20"
                                data-glide-dir=">" aria-label="next slide">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <title>next slide</title>
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                                </svg>
                            </button>
                        </div>
                        <!-- Indicators -->
                        <div class="absolute bottom-0 flex items-center justify-center w-full gap-2"
                            data-glide-el="controls[nav]">
                            {% for book in popular_books %}
                            <button class="p-4 group" data-glide-dir="={{ forloop.counter0 }}"
                                aria-label="goto slide 1"><span
                                    class="block w-2 h-2 transition-colors duration-300 rounded-full ring-1 ring-slate-700 bg-white/20 focus:outline-none"></span></button>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- End Card Carousel -->
                </div>
            </div>




            {% endblock %}
        </div>
    </div>

    <script>
        // JavaScript function to toggle dark mode
        function toggleDarkMode() {
            const body = document.body;
            body.classList.toggle('dark-mode');

            // Check if dark mode is enabled and store the preference in localStorage
            const isDarkModeEnabled = body.classList.contains('dark-mode');
            localStorage.setItem('dark-mode-preference', isDarkModeEnabled);
        }

        // Check for dark mode preference in localStorage on page load
        const storedDarkModePreference = localStorage.getItem('dark-mode-preference');
        if (storedDarkModePreference === 'true') {
            document.body.classList.add('dark-mode');
        }


        function toggleSubMenu(subMenuId) {
            const subMenu = document.getElementById(subMenuId);
            const subMenuArrow = document.getElementById(subMenuId + 'Arrow');
            if (subMenu.style.display === 'block') {
                subMenu.style.display = 'none';
                subMenuArrow.style.transform = 'rotate(0deg)';
            } else {
                subMenu.style.display = 'block';
                subMenuArrow.style.transform = 'rotate(180deg)';
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.tailwindcss.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script>$(document).ready(function () {

            $('#booksTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                language: {
                    paginate: {
                        previous: '<i class="fas fa-chevron-left"></i>', // Use a left arrow icon
                        next: '<i class="fas fa-chevron-right"></i>'     // Use a right arrow icon
                    }
                }
            });
        });</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/glide.js"></script>

    <script>
        var glide06 = new Glide('.glide-06', {
            type: 'carousel',
            focusAt: 'center',
            perView: 4,
            autoplay: 3000,
            animationDuration: 700,
            gap: 24,
            classes: {
                activeNav: '[&>*]:bg-slate-700',
            },
            breakpoints: {
                1024: {
                    perView: 2
                },
                640: {
                    perView: 1
                }
            },
        });

        glide06.mount();

    </script>






</body>

</html>