{% extends "index.html" %}
{% block content %}
 <div class="bg-white shadow-md rounded-lg p-8 w-full max-w-md">
        <h2 class="text-2xl font-semibold mb-4">Login</h2>
        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-gray-600">Username</label>
                <input type="text" id="username" name="username" class="border rounded px-3 py-2 w-full" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-600">Password</label>
                <input type="password" id="password" name="password" class="border rounded px-3 py-2 w-full" required>
            </div>
            <div class="mb-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white rounded px-4 py-2">Login</button>
            </div>
        </form>
        <p class="text-blue-500 hover:underline"><a href="{% url 'password_reset' %}">Lost password?</a></p>
        <p>Don't have an account? <a href="{%url 'register' %}" class="text-blue-500 hover:underline">Register</a></p>
    </div>
{% endblock %}